.qualification__container{
    height: auto;
    padding-bottom: 50px;
}
.qualification__tabs{
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}
.qualification__button{
    font-style: var(--h3-font-size);
    font-weight: var(--font-medium);
    /* color: var(--title-color); */
    margin: 0 var(--mb-1);
    cursor: pointer;
    filter: brightness(0.5);
}
.qualification__button:hover{
    filter:contrast(150%)
}
.qualification__icon{
    font-style: 1.8rem;
    margin-right: var(--mb-0-25);
}
.qualification__active{
    color: rgb(202, 191, 41);
    filter: brightness(0.8);
}
.qualification__sections{
    display: grid;
    grid-template-columns: 0.7fr;
    justify-content: center;
}
.qualification__content{
    display: none;
    
}
.qualification__content-active{
    display: block;
}
.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.0rem;
    justify-content: end;
    width: 100%;
    /* background-color: aqua; */
    
}
.qualification__conteudo{
    /* background-color:brown; */
    justify-content: end;
}
.qualification__title{
    font-style: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.qualification__subtitle{
    display: inline-block;
    font-style: var(--small-font-size);
    margin-bottom: var(--mb-1);
    font-size: 18px;
}
.qualification__calendar{
    font-style: var--small-font-size;
}
.uil-calendar-alt{
    margin-right: 15px;
}
.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%
}
.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}



/* ================================ BREAKPOINTS=================  */
/* For large devices */
@media screen and (max-width: 992px){
    
}
@media screen and (max-width: 768px){
    
}
@media screen and (max-width: 576px){
    .qualification__sections{
        grid-template-columns: initial;
    }
    .qualification__button{
        margin: 0 var(--mb-0-75);
    }
}
@media screen and (max-width: 390px){
    .qualification__data{
        gap: 0.5rem;
    }
    .qualification__line{
        height: 80%;
    }
    /* .imagem__faculdade{
    display: none;
    } */
    .qualification__item{
    width: 12rem;
    margin-bottom: 3rem;
}
}